.picker {
  text-align: center;
  max-width: 700px;
  margin-top: 60px !important;

  h1 {
    padding: 10px 25px;
    background-color: $peru;
    color: $beige;
  }

  p {
    padding: 10px 25px;
  }

  input {
    display: block;
    border-bottom: 2px solid $steelBlue;
    margin: 25px auto 5px auto;
    text-align: center;
    width: 50%;
    padding: 10px 25px;

    &:focus {
      box-shadow: 0 0 4px $gold;
      transition: all 0.1s ease-in-out;
    }
  }
  button {
    background-color: $gold;
    width: 50%;
    margin-bottom: 25px;
    cursor: pointer;
    border-radius: 8px;
    padding: 10px 25px;

    &:hover {
      background-color: $steelBlue;
      color: $beige;
    }
  }
}
