@import "reset";
@import "variables";
@import "auth";
@import "picker";

html,
body {
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-family: Helvetica;
  background-color: #202020;
  font-family: "Goudy Bookletter 1911", serif;
  color: #333;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

nav {
  display: flex;
  padding: 10px 2%;

  .logout {
    margin-left: auto;
    color: $beige;
  }
}

.logout {
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  &:hover {
    color: $gold;
    transition: all 0.1s ease-in-out;
  }
}

.logo {
  font-size: 1.5rem;
  font-family: "Chewy", cursive;
  color: $beige;
  text-decoration: none;
}

button,
input {
  font-family: "Goudy Bookletter 1911", serif;
  font-size: 1rem;
  box-sizing: border-box;
  border: none;
  background: none;
  color: #333;
}

.title {
  font-family: "Chewy", cursive;
  display: block;
  position: relative;
  background-color: $peru;
  color: $beige;
  padding: 8px 25px;
  box-shadow: 0 2px 4px rgba(90, 48, 31, 0.4);
  z-index: 1;

  &:first-letter {
    text-transform: uppercase;
  }
}

.list {
  border-radius: 8px;
  background-color: $beige;
  width: 75%;
  margin: 25px auto;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
  border: 2px solid $darkBeige;
  overflow: hidden;

  @media screen and (max-width: 600px) {
    width: 100%;
    border: none;
    border-radius: 0;
    margin: 0 auto;
  }
}

.message {
  text-align: center;
  padding: 40px 25px;
}

li.activeLi {
  background-color: $blue !important;
  color: $beige;
  transition: all 0s ease;
}

button.activeDel {
  display: block;
}

.resolutions {
  li {
    display: flex;
    padding: 20px 25px;
    border-left: 8px solid $steelBlue;
    transition: all 0.5s ease;

    &:nth-child(odd) {
      background-color: $beige;
    }
    &:nth-child(even) {
      background-color: $darkBeige;
    }
    &:hover {
      @extend .activeLi;
    }
    &:hover .delete {
      display: block;
    }
  }
}

.delete {
  background: none;
  border: none;
  display: none;
  height: 1rem;
  position: relative;
  top: -2px;
}

.addResolution {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);

  input {
    color: $beige;
    flex: 3;
    padding: 10px 25px;
    background-color: rgba(0, 0, 0, 0.45);
    transition: all 0.1s ease-in-out;

    &:focus {
      box-shadow: 0 0 4px $gold;
      background-color: rgba(0, 0, 0, 0.35);
      transition: all 0.1s ease-in-out;
    }
  }

  button {
    background-color: $gold;
    padding: 10px 25px;
    cursor: pointer;
    flex: 1;
    transition: all 0.1s ease-in-out;

    &:hover {
      background-color: $peru;
      color: $beige;
      transition: all 0.1s ease-in-out;
    }
  }
}

.countdown {
  width: 75%;
  max-width: 550px;
  margin: 40px auto 60px auto;
  text-align: center;
  font-family: "PT Mono", monospace;
  color: $beige;
  h2 {
    font-size: 1.2rem;
  }

  @media screen and (max-width: 1500px) {
    width: 100%;
  }
}

.clock {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}

.time {
  font-size: 2rem;
  font-weight: bold;
}

.timeMeasure {
  font-size: 0.75rem;
  color: rgba(204, 200, 190, 0.8);
  font-weight: bold;
}
